{% extends 'base.html.twig' %}
{# ... #}
{% block body %}
{% if error %}
<div class="alert alert-danger w-75 mx-auto mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% for message in app.flashes('notice') %} 
<div class="alert alert-info w-75 mx-auto mt-2">
{{message}}
</div>
{% endfor %}
{% if app.user %}
<div class="mb-3">
    You are logged in as {{ app.user.username }}, <a href="{{ 
        path('app_logout') }}">Logout</a>
        </div>
        {% endif %}
<form class="form-control px-3 py-4 w-50 mx-auto mt-5" action="{{ path('login') }}" method="post">
<label for="username">Email:</label>
<input class="form-control mb-2" type="text" id="username" name="_username" value="{{ last_username
}}"/>
<label for="password">Password:</label>
<input class="form-control mb-4" type="password" id="password" name="_password"/>
{# If you want to control the URL the user is redirected to on success
<input type="hidden" name="_target_path" value="/account"/> #}
<button class="btn w-100 btn-outline-primary fw-bold" type="submit">login</button>
<p>
    <a class="btn btn-outline-warning mt-2 fw-bold " href="{{ path('reset_password') }}">Forgot pass word?</a><br>
    Create one
    <a class="text-primary" href="{{ path('app_register') }}">Compte ?</a>
    </p>
</form>
{% endblock %}